/* Reset some default styles for a cleaner slate */
body,
h1,
ul,
li,
form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333333;
    font-size: 24px;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type='text'] {
    flex: 1;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

button[type='submit'] {
    padding: 10px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

button[type='submit']:hover {
    background-color: #218838;
}

button[type='submit'] i {
    font-size: 16px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

li span {
    flex: 1;
    display: inline-block;
    text-align: left;
}

li button {
    margin: 0px 2px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

li:nth-child(even) {
    background-color: #f9f9f9;
}

.delete-btn {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.delete-btn:hover {
    background-color: #c82333;
}

.delete-btn i {
    font-size: 16px;
}
