body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

option {
    padding: 10px;
}

#phrase {
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-align: center;
}
